<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>View all folders</h1>

    <ul>
        <% displayAllFolders.forEach(function(folder) { %>
          <a href="/view_file_information/<%=folder.id %>"><%= folder.name %></a>

          <!-- <a href="/files_in_folder/<%= folder.id %>"><%= folder.name %></a> -->

          


          <form action="/delete_folder/<%= folder.id %>?_method=DELETE" method="post">
          <button><a>Delete</a></button>
          </form>

          <form method="get" action="/update_folder/<%= folder.id %>">
          <button>Edit</button>
          </form>
        
        <form action="/view_folders/<%= folder.id %>" method="post" enctype="multipart/form-data">
          <input type="file" name="file"> 
          <button type="submit">Upload a file</button>
        </form>

        <% }) %>
      </ul>

      <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error %></li>
          <% }); %>
        </ul>
      <% } %>
      
      <% if (messages && messages.length > 0) { %>
        <ul>
          <li><%= messages[0] %></li>
        </ul>
      <% } %>
      
      

      <a href="/">Back to home</a>
      

</body>
</html>