<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body class="view-all-folders-body-styles">
    
    <h1 class="view-all-folders-header-text-styles">View all folders</h1>

    <!-- <ul> -->
      <div class="folders-wrapper">
        <% displayAllFolders.forEach(function(folder) { %>
          <div class="folder-container-styles">
          <div class="folder-styles">
          <a href="/view_file_information/<%=folder.id %>" class="folder-name-header-styles"><%= folder.name %></a>
        </div>
          <!-- <a href="/files_in_folder/<%= folder.id %>"><%= folder.name %></a> -->

          


          <form action="/delete_folder/<%= folder.id %>?_method=DELETE" method="post">
          <button class="view-folders-buttons-styles"><a>Delete</a></button>
          </form>

          <form method="get" action="/update_folder/<%= folder.id %>">
          <button class="view-folders-buttons-styles">Edit</button>
          </form>
        
        <form action="/view_folders/<%= folder.id %>" method="post" enctype="multipart/form-data" class="upload-file-container">
          <input type="file" name="file" class="view-folders-buttons-styles"> 
          <button type="submit" class="view-folders-buttons-styles">Upload a file</button>
        </form>

      </div>


        <% }) %>
      </div>
      

      <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error %></li>
          <% }); %>
        </ul>
      <% } %>
      
      <% if (messages && messages.length > 0) { %>
        <ul>
          <li><%= messages[0] %></li>
        </ul>
      <% } %>
      
      
      <button class="back-to-home-button-styles"> 
      <a href="/">Back to home</a>
    </button>

</body>
</html>