<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body class="file-info-body-wrapper">


    <h1 class="file-information-header">File Information</h1>

    <button class="view-file-back-btn"> 
      <a href="/view_folders">Back</a>
      </button>


    <!-- <% if (messages && messages.length > 0) { %>
        <div class="alert alert-success">
          <%= messages[0] %>
        </div>
      <% } %>
      
      <% if (errors.length > 0) { %>
        <div class="alert alert-danger">
          <%= errors[0] %>
        </div>
      <% } %> -->

        <div class="files-wrapper-styles">

      
     Folder Name: <%= currentFolder.name %> 

    <% if (files && files.length > 0) { %>
      <% files.forEach((file) => { %>
        <div class="file-container-styles">
                <div>File Name: <%=file.fileName %></div>
                <br>
                <div>Created At: <%=file.createdAt %></div>
                <br>
                <div>File Size: <%=file.size %></div>

                <br>
                
               <button class="download-file-styles"><a href="/download_file/<%=file.id %>" download>Download</a></button>
                
                <br>
                <br>
            
                <form action="/view_file_information/<%= currentFolder.id %>/<%= file.id %>" method="POST">
                    <button type="submit">Upload This File</button>
                </form>

                <br>

                 <form action="/delete_file/<%= currentFolder.id %>/<%= file.id %>?_method=DELETE" method="post">
                     <button type="submit">Delete This File</button>
                   </form>
                   
                   <% if (messages && messages[file.id] && messages[file.id].length > 0) { %>
                    <div id="message-styles">
                      <%= messages[file.id][0] %>
                    </div>
                  <% } %>
                  
                  <% if (errors && errors[file.id] && errors[file.id].length > 0) { %>
                    <div id="message-styles">
                      <%= errors[file.id][0] %>
                    </div>
                  <% } %>


                   
                   
                  </div>
                   
                   <% }) %>
                   
      


    </div>




        <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>

        
    <% } else { %>
        <p>No files found for this folder</p>
    <% } %>

    <br>
    
    <script> 

      const messageStyles = document.getElementById('message-styles');
      if (messageStyles) {
        setTimeout(() => {
          messageStyles.style.display = 'none';
        }, 3000);
      }

    </script>
 
  

</body>
</html>