<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>File information</h1>

    <%= currentFolder.name %>

    <% if (files && files.length > 0) { %>
        <ul>
            <% files.forEach((file) => { %>
                <li>File Name: <%=file.fileName %></li>
                <li>Created At: <%=file.createdAt %></li>
                <li>File Size: <%=file.size %></li>
                
               <button><a href="/download_file/<%=file.id %>" download>Download</a></button>

               <button><a href="/view_file_information/<%=file.id %>">Upload File</a></button>

            <% }) %>
        </ul>

        <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>

        
    <% } else { %>
        <p>No files found for this folder</p>
    <% } %>
  

</body>
</html>